config/dev.yml
config/private.yml
releases/*.tgz
dev_releases
src
blobs
.blobs
.dev_builds
.idea
.final_builds/jobs/**/*.tgz
.final_builds/packages/**/*.tgz
releases/**/*.tgz
.DS_Store
*.swp
*~
*#
#*
pkg/

tests/creds.yml
tests/state.json
